<div *ngIf="!data[0]" class="primary">
  <h2>No Recent Interviews</h2>
</div>

<div *ngIf="data[0]" class="container">
  <h2 class="primary">Latest Sign-In: {{data[0].name}} {{formatDate(data[0].time)}}</h2>
  <h4 class="secondary">All Sign-ins:</h4>
  <cdk-virtual-scroll-viewport itemSize="30" class="viewport secondary">
    <div *cdkVirtualFor="let person of data" class="item">{{person.name}} {{formatDate(person.time)}}</div>
  </cdk-virtual-scroll-viewport>
</div>

<div class="widget">
  <button mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">Previous</button>
  <button mwlCalendarToday [(viewDate)]="viewDate">Today</button>
  <button mwlCalendarNextView [(viewDate)]="viewDate" [view]="view">Next</button>
</div>

<h2 class="widget">{{viewDate.toDateString()}}</h2>

<mwl-calendar-day-view
  [viewDate]="viewDate"
  [events]="events"
  [dayStartHour]="CALENDAR_HOUR_START"
  [dayEndHour]="CALENDAR_HOUR_END">
</mwl-calendar-day-view>
