.viewport {
  min-height: 200px;
  overflow-y: scroll;
}

.item {
  height: 30px;
}

.container {
  text-align: center;
  margin: auto;
}

.primary {
  font-size: 32px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}

.secondary {
  margin: auto;
}

.viewport {
  border: 2px solid black;
  max-width: 40em;
  font-size: 16px;
}

.widget {
  margin-left: 60px;
}
