* {
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: none;
  width: 40ch;
  font-size: 32px;
}

mat-icon {
  font-size: 32px;
  margin-right: 20px;
}

li {
  border-style: solid;
  margin: 2px;
}

input {
  font-size: 20px;
  margin: 5px;
  text-align: left;
}

.sidebar {
  height: 100%;
  width: 300px;
  z-index: 1;
  top: 20%;
  left: 25px;
  position: fixed;
  overflow-x: hidden;
  padding-top: 20px;
}

.container {
  border-style: solid;
  margin-bottom: 100px;
  padding: 20px;
}

.pagerbox {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.sort {
  font-size: 20px;
  width: 20%;
}

.item {
  display:flex;
  margin-left: 20px;
}

.text {
  text-align: left;
  flex-grow: 1;
  margin-top: 10px;
}

.icons {
  text-align: right;
  flex-grow: 2;
}
