<div class="header">
  <h1>Company Master List</h1>
</div>
<div class="sidebar">
  <div class="container">
    <h1>Add New Company</h1>
    <h3>Company Name:</h3>
    <input type="text" #name><br>
    <input type="submit" value="Submit" (click)="addCompany(name.value); name.value = ''">
  </div>
</div>
<div class="content">
  <ul>
    <div class="sort">
      A-Z
      <mat-icon #down *ngIf="ascendingSort" (click)="ascendingSort = false; sort()">keyboard_arrow_down</mat-icon>
      <mat-icon #up *ngIf="!ascendingSort" (click)="ascendingSort = true; sort()">keyboard_arrow_up</mat-icon>
    </div>
    <li *ngFor="let company of data.slice(curPage*PAGE_SIZE, (curPage*PAGE_SIZE)+PAGE_SIZE); index as i">
      <div class="item">
        <p class="text">{{company.name}}</p>
        <div class="icons">
          <!--mat-icon>create</mat-icon-->
          <mat-icon (click)=dropCompany(i)>delete</mat-icon>
        </div>
      </div>
    </li>
  </ul>
  <div class="pagerbox">
    <button type="button" class="arrow pager" (click)="paginate(curPage-1)"><mat-icon>arrow_back</mat-icon></button>
    <button type="button" class="pager" *ngIf="curPage-3+pageOffset >= 0 && maxPages > 5" (click)="paginate(0)">...</button>
    <button type="button" class="pager" *ngFor="let page of pages()" (click)="paginate(page-1)">{{ page }}</button>
    <button type="button" class="pager" *ngIf="curPage+3-pageOffset < maxPages && maxPages > 5"(click)="paginate(1000000)">...</button>
    <button type="button" class="arrow pager" (click)="paginate(curPage+1)"><mat-icon>arrow_forward</mat-icon></button>
  </div>
</div>
