<div class="header">
  <h1>Company Master List</h1>
</div>
<div class="sidebar">
  <div class="container">
    <h1>Add New Company</h1>
    <h3>Company Name:</h3>
    <input type="text" #name><br>
    <input type="submit" value="Submit" (click)="addComp(name.value)">
  </div>
</div>
<div class="content">
  <ul>
    <div class="sort">
      A-Z
      <mat-icon #down *ngIf="ascendingSort" (click)="ascendingSort = false">keyboard_arrow_down</mat-icon>
      <mat-icon #up *ngIf="!ascendingSort" (click)="ascendingSort = true">keyboard_arrow_up</mat-icon>
    </div>
    <li *ngFor="let company of data.slice(curPage, curPage+PAGE_SIZE)">
      <div class="item">
        <p class="text">{{company.name}}</p>
        <div class="icons">
          <mat-icon>create</mat-icon>
          <mat-icon>delete</mat-icon>
        </div>
      </div>
    </li>
  </ul>
  <div class="pagerbox">
    <button type="button" class="arrow pager" (click)="paginate(curPage-1)"><mat-icon>arrow_back</mat-icon></button>
    <button type="button" class="pager" *ngFor="let page of pages(); index as i" (click)="paginate(i)">{{ i+1 }}</button>
    <button type="button" class="arrow pager" (click)="paginate(curPage+1)"><mat-icon>arrow_forward</mat-icon></button>
  </div>
</div>
