#button_container {
  width: 100%;
  margin-right: 0px;
  text-align: right;
}

.title {
  margin: auto;
  text-align: center;
  padding: 15px;
}

button {
  margin-right: 50px;
  padding: 20px;
  font-size: 20px;
}

.arrow {
  cursor: pointer;
}
