* {
  margin: auto;
}

div {
  text-align: center;
}

mat-card {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

td {
  padding: 1%;
  width: 20%;
  height: 25%;
}

table {
  width: 90%;
  table-layout: fixed;
}

.title {
  font-size: 28px;
  min-height: 40px;
}

.clickable {
  font-size: 28px;
  margin-bottom: 20px;
}

.close {
  position: absolute;
  right: 0px;
}

.notice {
  font-size: 24px;
  line-height: 24px;
  padding: 20px;
}
