* {
  margin: auto;
  text-align: center;
}

select {
  margin-bottom: 40px;
  font-size: 16px;
}

table {
  font-size: 20px;
  border-spacing: 12px;
}

input {
  font-size: 20px;
  margin: 5px;
  text-align: left;
}

.limited {
  /* Should match MAX_CHARS in typescript file*/
  width: 25ch;
}

.danger {
  background-color: red;
  color: white;
  position: fixed;
  bottom: 3%;
  left: 1%;
}

.sidebar {
  height: 100%;
  width: 20%;
  z-index: 1;
  top: 20%;
  left: 25px;
  position: fixed;
  overflow-x: hidden;
  padding-top: 20px;
}

.container {
  border-style: solid;
  margin-bottom: 30%;
  padding: 20px;
}

.pagerbox {
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  width: 30%;
  margin: auto;
}

.inactive {
  color: gray;
}

.section {
  display: inline-block;
  margin: 20px;
}
